#choices2{
    display:none;
}
#choices3{
    display:none;
}
#choices4{
    display:none;
}
#choices5{
    display:none;
}
#choices6{
    display:none;
}
#choices7{
    display:none;
}
#choices8{
    display:none;
}
#choices9{
    display:none;
}
#choices10{
    display:none;
}